# Demographic Data Analyzer

This project is an assignment for a [freeCodeCamp Data Analysis with Python Certification](https://www.freecodecamp.org/learn/data-analysis-with-python/data-analysis-with-python-projects/demographic-data-analyzer 'Demographic Data Analyzer'). You are given a **[dataset of demographic data](https://raw.githubusercontent.com/fishenzone/portfolio/main/data/adult.data.csv 'CSV file Demographic Data')** that was extracted from the 1994 Census database.

You must use Pandas to answer the following questions:

- How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)
- What is the average age of men?
- What is the percentage of people who have a Bachelor's degree?
- What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
- What percentage of people without advanced education make more than 50K?
- What is the minimum number of hours a person works per week?
- What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
- What country has the highest percentage of people that earn >50K and what is that percentage?
- Identify the most popular occupation for those who earn >50K in India.

***[Click here](https://replit.com/@Fishenzone/demographic-data-analyzer#README.md 'Replit Demographic Data Analyzer') to see the link to the data, as well as the full description of the coding challenge.***

In [1]:
import pandas as pd

df = pd.read_csv('./data/adult.data.csv')
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

### How many of each race are represented in this dataset?

In [2]:
race_count = df['race'].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

### What is the average age of men?

In [3]:
age_men = round(df[df['sex'] == 'Male']['age'].mean(), 1)
age_men

39.4

### What is the percentage of people who have a Bachelor's degree?

In [4]:
percentage_bachelors = round(df[df['education'] == 'Bachelors'].shape[0] / df.shape[0] * 100, 1)
percentage_bachelors

16.4

### What percentage of people with advanced education make more than 50K?

In [5]:
higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
higher_education_rich = round(higher_education[higher_education['salary'] == '>50K']['salary'].count()\
                              / higher_education.shape[0] * 100, 1)
higher_education_rich

46.5

### What percentage of people without advanced education make more than 50K?

In [6]:
lower_education = df[~(df['education'].isin(['Bachelors','Masters','Doctorate']))]
lower_education_rich = round(
    lower_education[
        lower_education['salary'] == '>50K'
    ]['salary'].count() / lower_education.shape[0] * 100, 1
)

lower_education_rich

17.4

In [7]:
lower_education_rich = round(
    len(lower_education[lower_education.salary == '<=50K']) / len(lower_education) * 100, 1
)
lower_education_rich

82.6

### What is the minimum number of hours a person works per week (hours-per-week feature)?

In [8]:
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

### What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [9]:
num_min_workers = df[df['hours-per-week'] == min_work_hours]
rich_percentage = num_min_workers[num_min_workers['salary'] == '>50K']['salary'].count() / num_min_workers.shape[0] * 100

rich_percentage

10.0

### What country has the highest percentage of people that earn >50K?

In [10]:
highest_earning_country = (
    df.loc[
        df['salary'] == '>50K', 'native-country'
    ].value_counts() / df['native-country'].value_counts()
).idxmax()

highest_earning_country

'Iran'

### Percentage of people earning more than 50K in Iran

In [11]:
highest_earning_country_percentage = round(
    (
        df.loc[df['salary'] == '>50K', 'native-country'].value_counts() / df['native-country'].value_counts()
    ).max() * 100, 1
)

highest_earning_country_percentage

41.9

### The most popular occupation for those who earn more than 50K in India

In [12]:
top_IN_occupation = df[
    (df['salary'] == '>50K') & (df['native-country'] == 'India')
]['occupation'].value_counts().idxmax()

top_IN_occupation

'Prof-specialty'